commands:
  01_download_ffmpeg:
    command: |
      curl -L -o /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz
  02_extract_ffmpeg:
    command: |
      mkdir -p /opt/ffmpeg && tar -xvf /tmp/ffmpeg.tar.xz --strip-components=1 -C /opt/ffmpeg
  03_symlink_ffmpeg:
    command: |
      ln -sf /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg
      ln -sf /opt/ffmpeg/ffprobe /usr/bin/ffprobe

